# Home work week 1

## Q1. Pandas version
What's the version of Pandas that you installed?

In [1]:
import pandas as pd 
import numpy as np

In [2]:
pd.__version__

'2.2.3'

## Getting the data
https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

In [3]:
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'

In [4]:
!wget $url -o download.log

In [5]:
df = pd.read_csv('car_fuel_efficiency.csv')

df.head(3).T

                                   0                  1                  2
engine_displacement              170                130                170
num_cylinders                    3.0                5.0                NaN
horsepower                     159.0               97.0               78.0
vehicle_weight           3413.433759        3149.664934        3079.038997
acceleration                    17.7               17.8               15.1
model_year                      2003               2007               2018
origin                        Europe                USA             Europe
fuel_type                   Gasoline           Gasoline           Gasoline
drivetrain           All-wheel drive  Front-wheel drive  Front-wheel drive
num_doors                        0.0                0.0                0.0
fuel_efficiency_mpg        13.231729          13.688217          14.246341

## Q2. Records count

How many records are in the dataset?

In [6]:
df.shape[0]

9704

## Q3. Fuel types
How many fuel types are presented in the dataset?

In [7]:
df.fuel_type.nunique()

2

## Q4. Missing values

In [8]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

## Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [9]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

## Q6. Median value of horsepower

- Find the median value of horsepower column in the dataset.
- Next, calculate the most frequent value of the same horsepower column.
- Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
- Now, calculate the median value of horsepower once again.

In [10]:
response = {}

response['value median of horsepower'] = df['horsepower'].median()
response['value most frequent value of horsepower'] = df['horsepower'].mode()[0]

response

{'value median of horsepower': np.float64(149.0),
 'value most frequent value of horsepower': np.float64(152.0)}

In [11]:
response['value most frequent value of horsepower']

np.float64(152.0)

In [12]:
df['horsepower'].fillna(df['horsepower'].mode()[0], inplace=True)
new_median =  df['horsepower'].median()

if response['value median of horsepower'] < new_median:
    print('Yes, it increased')
elif response['value median of horsepower'] > new_median:
    print('Yes, it decreased')
else:
    print('No')

Yes, it increased

/tmp/ipykernel_65015/1068806975.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(df['horsepower'].mode()[0], inplace=True)

## Q7. Sum of weights
- Select all the cars from Asia
- Select only columns vehicle_weight and model_year
- Select the first 7 values
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Invert XTX.
- Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the sum of all the elements of the result?

In [13]:
# Selecting cars'Asia
# Selecting only colunums vehicle_weight and model_year
# Selecting the first 7 values
# Getting underlying Numpy array. Let's call it X
cars_asia = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']]

X = cars_asia.values[0:7,]
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [14]:
# Computing matrix-matrix multiplication between the transpose of X and X. 
# To get the transpose, use X.T. Let's call the result XTX.
# Inverting XTX
# Creating an array y
# Multiply the inverse of XTX with the transpose of X, 
# and then multiply the result by y
# What's the sum of all the elements of the result?

XT = X.T
XTX = np.dot(XT, X)
inv_XTX = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
result_inter = np.dot(inv_XTX, XT)
w = np.dot(result_inter, y)

w.sum()

np.float64(0.5187709081074016)

<hr>
<footer style="text-align:center; font-size:12px; color:gray;">
    Â© 2025 - MBOCK MBOCK GEORGES CHRISTIAN | georgesmbo89@gmail.com
</footer>